// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Black & White tones
$dark-gray: #202020;
$mid-gray: #484848;
$soft-gray: #B3B3B3;
$off-white: #FBFAF3;

// Main color
$purple: #7842BD;

$neon-purple: #6C3CCC;

// Details
$light-blue: #DDDEF3;

// Status colors
$light-purple: #B69BD8;
$light-green: #9BD89E;
$light-red: #D8A39B;
$lighter-gray: #616161;
$light-orange: #F9C06C;
