// Specific CSS for your home-page
a {
  color: inherit;
  text-decoration: none !important;
}

body {
  background-color: $light-blue;
}

.main-text {
  h2 {
    font-family: 'Roboto';
    font-size: 64px;
    color: $purple;
  }
  p {

  }
}

#last-container {
  position: relative;
}
