// Specific CSS for your home-page
a {
  color: inherit;
  text-decoration: none !important;
}

.main-text {
  h2 {
    font-size: 40px;
    color: $purple;
    font-weight: 600;
  }
  p {
    font-size: 20px;
    margin-top: 15px;
  }
}
