.project-index-form {
  width: 83%;

}

.project-index-search-input {

  border-radius: 10px 0 0 10px;

}

.project-index-submit {

  border-radius: 0 10px 10px 0;
  background-color: $purple;

}

.project-index-submit:hover {

  background-color: $neon-purple;

}
