<section id="footer" class="p-5">
  <div class="footer-info text-center p-5">
    <div class="d-flex justify-content-around my-4">
      <a href=""><i class="footer-icon fa-brands fa-twitter"></i></a>
      <a href=""><i class="footer-icon fa-brands fa-facebook-f"></i></a>
      <a href=""><i class="footer-icon fa-brands fa-instagram"></i></a>
      <a href=""><i class="footer-icon fa-solid fa-envelope"></i></a>
    </div>
    <p>2022 © Karuna</p>
  </div>
</section>
