<div class="banner-organization">
  <div class="container d-flex flex-column justify-content-center align-items-start h-75 gap-4">
    <h1 class="fs-lg fw-bold">Organization Name</h1>
  </div>
</div>
