<% case booking.status %>
  <% when 'pending' %>
    <span class="status-pending mb-0 py-1 px-4 b-solid b-radius">Pending</span>
  <% when 'accepted' %>
    <span class="status-accepted mb-0 py-1 px-4 b-solid b-radius">Accepted</span>
  <% when 'declined' %>
    <span class="status-declined mb-0 py-1 px-4 b-solid b-radius">Declined</span>
  <% when 'concluded' %>
    <span class="status-concluded mb-0 py-1 px-4 b-solid b-radius">Concluded</span>
  <% when 'missed' %>
    <span class="status-missed mb-0 py-1 px-4 b-solid b-radius">Missed</span>
<% end %>
