<div class="user-panel-aside d-flex">
 <%= cl_image_tag @user.photo.key, class: "avatar-xl mb-3" %>
  <div class="user-bio">
    <h3><%= @user.first_name%> <%= @user.last_name %></h3>
    <p><i class="fa-solid fa-location-dot"></i> <%= @user.country %></p>
  </div>
</div>
