<% @user.projects.each do |project| %>
  <% if project.end_date < Date.current%>
    <div class="mb-5">
      <%= link_to project_path(project), class: "hover-purple text-decoration-none" do %>
        <%= render 'shared/user_project_card', project: project, booking: project.bookings.find_by(user: @user) %>
      <% end %>
    </div>
  <% end %>
<% end %>
