<div class="user-panel-aside d-flex">
  <%= image_tag "https://kitt.lewagon.com/placeholder/users/apcbrasil", class: "avatar-xl mb-3" %>
  <div class="user-bio">
    <h3><%= @user.first_name%> <%= @user.last_name %></h3>
    <p><i class="fa-solid fa-location-dot"></i> <%= @user.country %></p>
  </div>
</div>
