<main class="p-5">
  <div data-controller="search", class="container mx-auto">

    <div data-project-card-target="content" class="row mt-3 justify-content-center project-cards ">
        <%= form_with url: projects_path, method: :get, html: {class: "d-flex project-index-form mt-5", data: {search_target: "form"}} do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control project-index-search-input",
            placeholder: "Find a project",
            data: {search_target: "input",
            action: "keyup->search#update"} %>
          <%= submit_tag "Search", class: "btn btn-primary project-index-submit" %>
        <% end %>
        <%= render "projects/list" %>
      </div>
    </div>
  </div>
</main>
