<main>
  <div class="container mx-auto">
    <div class="row mt-3 justify-content-center project-cards ">
      <% @projects.each do |project| %>

          <div class="col-11 col-md-10 pt-5">
            <%= render 'shared/card', project: project %>
          </div>

      <% end %>
    </div>
  </div>
</main>
