


<div class="container">
  <h1 class= "project-header"><strong>Save Wild Animals in Africa</strong></h1>
</div>

<div class="container">

  <div id="carouselExampleInterval" class="carousel-slide" data-bs-ride="carousel">
    <div class="carousel-inner">
    <div class="container">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="https://images.unsplash.com/photo-1509973301519-9ca52aa49658?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80" class="d-block w-100" alt="...">
      </div>
    </div>
    <div class="container">
      <div class="carousel-item" data-bs-interval="2000">
        <img src="https://images.unsplash.com/photo-1614531341773-3bff8b7cb3fc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80" class="d-block w-100" alt="...">
      </div>
    </div>
    <div class="container">
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1504173010664-32509aeebb62?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1427&q=80" class="d-block w-100" alt="...">
      </div>
    </div>
    </div>
    <div class="container">
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true" style="margin-right: 80px;margin-top: 230px;"></span>
        <span class="visually-hidden">Previous</span>
      </button>
    </div>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true" style="margin-left: 80px;margin-top: 230px"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>


      <h2><strong>Category</strong></h2>
      <div class="container-leaf">
        <i class="fa-solid fa-leaf"></i>
      </div>



  <h2 class="project-location">Project location</h2>
  <div class="container">
</div>
<div class= d-flex><i class="fa-solid fa-location-dot"></i></div>
<div class="container">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean etiam consectetur arcu etiam quis aliquam tortor tincidunt. Placerat scelerisque nisl ultrices arcu, quis at. Semper mollis vitae id augue donec scelerisque dolor viverra. Et euismod nisl nunc viverra quis.
     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean etiam consectetur arcu etiam quis aliquam tortor tincidunt. Placerat scelerisque nisl ultrices arcu, quis at. Semper mollis vitae id augue donec scelerisque dolor viverra. Et euismod nisl nunc viverra quis.</p>
</div>

  <div class="container">
    <div class="d-flex align center p-10">
      <section id="bookings" class="background my-5">
        <div class="offer-info container p-5">
          <h3 class="text-center mb-5">
          <%= simple_form_for [@project, @booking], data: { controller: "flatpickr" } do |f| %>
            <%= f.input :start_date, input_html: { class: "border-green b-radius", data: { flatpickr_target: "firstRangeInput" } }, as: :string %>
            <%= f.input :end_date, input_html: { class: "border-green b-radius", data: { flatpickr_target: "secondRangeInput" } }, as: :string %>
            <%= f.submit "Book now!", class: "btn btn-flat b-radius my-3 col-4 w-100" %>
          <% end %>
        </div>
      </section>
    </div>
</div>
