.banner {
  background-image: url(https://images.unsplash.com/photo-1488521787991-ed7bbaae773c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat, repeat;
  height: 75vh;
  position: relative;

  img {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
}

#banner-title {
  position: absolute;
  color: white;
  z-index: 20;
  bottom: 40px;
  left: 60px;
  font-weight: bolder;
  text-shadow: 2px 2px 5px rgb(0,0,0);
  font-size: 50px;
}
