.btn-white {
  color: $purple;
  background-color: white;
  padding: 8px 24px !important;
  border-radius: 50px;
  opacity: 0.8;
  transition: all 0.3s ease;
  border: none;

  &:hover {
    color: $purple;
    opacity: 1;
    text-decoration: none !important;
  }

  &:focus {
    background-color:white;
    border: none;
  }
}

.btn-purple {
  color: white;
  background-color: $purple;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: white;
    background-color: #6c3ccc;
    border: 1px solid #6c3ccc;
  }

  &:focus {
    background-color:#6c3ccc;
    color: white;
    border: 1px solid #6c3ccc;
  }
}

.btn-outline-light {
  transition: all 0.3s ease-in-out;

  &:hover {
    color: $purple;
    font-weight: 600;
  }
}

#find-projects-button {
  padding: 20px;
  font-weight: bold;
  opacity: 0.8;
  &:hover {
    opacity: 1;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
  }
}

button {
  border: none;
  background: none;
}

.attendance-button {
  color: white;
  background-color: $green;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  opacity: 0.8;
  font-size: 12px;
  padding: 10px 12px;
  position: absolute;
  top: 30%;
  right: 20%;

  &:hover {
    color: white;
    opacity: 1;
    background-color: $green;
    border: 1px solid $green;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }

  &:focus {
    background-color:$green;
    color: white;
    border: 1px solid $green;
  }
}
