.card-project {
  overflow: hidden;
  height: 220px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  border-radius: 12px;
  position: relative;
  flex-grow: 1;
}

.card-project .project-image {
  height: 100%;
  width: 300px;
  object-fit: cover;
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
}

.card-project {
  h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
  }
  h3 {
    font-size: 16px;
  }
  h4 {
    font-size: 15px;
  }
}

.card-project p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-project .card-project-infos {
  padding: 15px;
  flex-grow: 1;
  max-width: 500px;
}

.card-project .avatars {
  width: 200px;
  flex-shrink: 0;
  padding: 15px;
  padding-right: 20px;
  margin-left: auto;
}

.max-width {
  max-width: 1000px;
}

.project-type-card {
  background-size: cover;
  background-position: center;
  height: 220px;
  width: 220px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,1);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition: all 0.1s ease-in-out;
}

.project-types a {
  &:hover {
    transform: scale(1.05);
    filter: brightness(1.2);
  }
}
.impact-card {
  overflow: hidden;
  height: 400px;
  background: $light-purple;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 12px;
  padding: 5px;
  width: 900px;
  margin-bottom: 80px;
  color: $purple;

  img {
    height: 100%;
    width: 300px;
    object-fit: cover;
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
    }
  }

.impact-card-infos {
  width: 100%;

  .impact-info {
    border-radius: 12px;
    background-color: white;
    padding: 20px;
  }
}

#impact-card-text {
  color: $purple;
}

.project-card-request {
  overflow: hidden;
  height: 120px;
  width: 500px;
  margin: 20px auto;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 12px;
  padding: 0;

  span {
    font-size: 10px;
  }
}

.request-card-info {
  padding: 8px;

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 14px;
  }

  p {
    font-size: 12px;
  }
}

.request-picture {
  height: 120px;
  max-width: 30%;
}


@media (max-width: 768px) {
  .card-project .avatars {
    width: 150px;
  }
}

@media (max-width: 600px) {
  .card-project {
    flex-direction: column;
    height: 100%;
  }
  .card-project .project-image {
    width: 100%;
    border-bottom-left-radius: 0;
  }
  .card-project .avatars {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.card-hover {
  transition: all 0.1s ease-in-out;

  &:hover {
    color: $neon-purple;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
  }
}
