#how-it-works {
  .container {
    max-width: 1200px;
  }

  p {
    color: $mid-gray;
  }
}

#impact-photo {
  border-radius: 12px;
}
.card-circle {
  transition: all 0.3s ease-in-out;
  img {
    width: 250px;
    height: 250px;
  }

  &:hover {
    transform: scale(1.1);
    filter: brightness(1.05);
  }
}

.map-div {
  height: auto;
  width: 900px;

}

.home-section {
  min-height: 80vh;
}

#last-container {
  position: relative;
  min-height: 95vh;
  padding-bottom: 10px;
}


.map-text p {
    font-weight: 500;
    font-size: 22px;

}

#volunteer-picture {
  width: 90px;
  height: 90px;
  border-radius: 10px;
  object-fit: cover;
  &:hover {
    transform: scale(1.02);
    filter: brightness(1.1);
  }
}

#volunteer-picture-2 {
  width: 90px;
  height: 90px;
  border-radius: 10px;
  object-fit: cover;
  &:hover {
    transform: scale(1.02);
    filter: brightness(1.1);
  }
}

.volunteer-pics {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  &:hover {
    transform: scale(1.1);
    filter: brightness(1.1);
  }
}

// .pic-container {
//   width: 180px;
//   height: auto;
// }

.volunteer-grid {
  width: 160px;
  height: 180px;
}

#project-title {
  &:hover {
    color: $purple;
    text-decoration: underline;
    text-decoration-thickness: 1px;
  }
  a:hover {
    color: $purple;
  }
}

.volunteer-name {
  &:hover {
    color: $purple;
    text-decoration: underline;
  }
  a:hover {
    color: $purple;
  }
}

.modal-image {
  max-width: 250px;
  max-height: 200px;
}

.volunteer-content {
  margin: 0 30px;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
