.navbar-lewagon {
  justify-content: space-between;
  background: #7842BD;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-title {
  color: white;
  opacity: 0.7;
  transition: all 0.1s ease-in-out;

  &:hover {
    opacity: 1;
    filter: brightness(1.05);
  }
}

.navbar-toggler-icon {
  background: var(--bs-navbar-toggler-icon-bg) no-repeat center !important;
}

.nav-link {
  color: white;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: white;
    opacity: 1;
    text-decoration: underline !important;
    text-decoration-thickness: 1px !important;
    text-decoration-color: white !important;
  }
}

.navbar {
  padding: 20px 40px;
}
