.navbar-lewagon {
  justify-content: space-between;
  background: #7842BD;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item {
  a {
    color: white;
    opacity: 0.5;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: white;
      opacity: 1;
    }
  }
}

.top-wave {
  position: absolute;
}

@media (max-width: 1980px) {
  /* For a screen < 960px, this CSS will be read */
  .wave-margin {
    margin-top: 7%;
  }
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .wave-margin {
    margin-top: 10%;
  }
}
