.tabs {
  gap: 4%;
}

.tab-link {
  padding: 0 8px;
  border-bottom: 3px solid transparent;

  &:hover {
    border-bottom: 3px solid $light-purple;
  }

  &.active {
    border-bottom: 3px solid $purple;
  }
}
