.user-project-card {
  background: transparent;
}

.user-project-cards {
  padding: 48px;

  div:not(:last-child) {
    .user-project-card {
      padding-bottom: 48px;
      border-bottom: 1px solid #dcdcdc;
    }
  }
}

.user-project-image {
  max-height: 300px;
  max-width: 300px;
  object-fit: cover;
}

@media (max-width: 600px) {
  .user-project-cards {
    padding: 24px;
  }

  .user-project-card {
    flex-direction: column;
    height: 100%;
  }

  .user-project-image {
    max-width: 100%;
  }
}
