.background-purple {
  background-color: $purple;
  color: $light-gray;

  h1, h2, h3, h4 {
    color: white;
    font-weight: 600;
    font-size: 40px;
  }

  .container {
    max-width: 1200px;
  }
}

.background-impact {
  background-color: $purple;
  color: $light-gray;

  h1, h2, h3, h4 {
    font-weight: 600;
    font-size: 25px;
  }

  .container {
    max-width: 1200px;
  }
}
.b-radius {
  border-radius: 50px;
}

.b-solid {
  border: 1px solid #dcdcdc;
}

.b-bottom {
  border-bottom: 1px solid #dcdcdc;
}

.hover-purple {
  &:hover {
    color: $purple;
  }
}
