
.background {
  background-color: #5cb25bc4;
  color: white;

  h1, h2, h3, h4 {
    font-weight: bold;
  }

  p {
    font-size: 22px;
    margin-top: 16px;
  }

  .container {
    max-width: 1200px;
  }
}
