<div class="container mx-auto">
  <div class="row justify-content-center project-cards gap-5">
    <% @organization.projects.each do |project| %>
      <% if project.end_date > Date.current%>
        <div class="col-11 col-md-10">
          <%= link_to project_path(project), class: "hover-purple text-decoration-none" do %>
            <%= render 'shared/card', project: project %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
