<div class="banner-organization"
  style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= cl_image_path organization.photo.key, crop: :fill %>')">
  <div class="container d-flex flex-column justify-content-center align-items-center h-100 gap-4">
    <h1 class="text-success fs-lg fw-bold"><%= @organization.name %></h1>
  </div>
</div>
