<div class="banner-organization">
  <div class="container d-flex flex-column justify-content-center align-items-center h-100 gap-4">
    <h1 class="text-success fs-lg fw-bold"><%= @organization.name %></h1>
  </div>
</div>
