<% content_for :meta_title, "#{@organization.name} · #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @organization.about %>
<%# <% content_for :meta_image, cl_image_path(@organization.photo.path) %> %>

<div data-controller="organization-tabs">
  <header>
    <%= render 'organizations/organization_banner', organization: @organization %>

    <%= render 'organizations/organization_about', organization: @organization %>

    <nav class="b-bottom w-100 mt-2 pb-0">
      <%= render 'shared/tabs' %>
    </nav>
  </header>

  <main data-organization-tabs-target="main" class="mt-2 mb-5 p-5">
    <%= render 'organizations/organization_project_cards', organization: @organization %>
  </main>
</div>
